<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello, test_sh</h1>

    <table border="1">
        <thead>
            <th>p_change</th>
            <th>sh_volume</th>
        </thead>
        <tbody>
            {% for c in sh_p_change %}
                <tr>
                    <td>{{ c }}</td>
                </tr>
            {% endfor %}
            {% for v in sh_volume %}
                <tr>
                    <td>{{ v }}</td>
                </tr>
            {% endfor %}
            <hr/>
            <table border="1">
                {% for p,v in sh_p_change,sh_volume %}
                    <tr>
                       <td>{{ p }}</td>
                        <td>{{ v }}</td>
                    </tr>
                {% endfor %}
            </table>

        </tbody>
    </table>

    <hr/>

    {{ t_sh }}

    <hr/>

    {% for t in t_sh %}
        <tr>
            <td>{{ t.open }}</td>
            <td>{{ t.low }}</td>
            <td>{{ t.high }}</td>
        </tr>
    {% endfor %}

     <hr/>
    <!--<script type="text/javascript">
        var List = {{ List|safe }}
        for (i in List) {
            console.log(i);
        }
    </script>-->

</body>
</html>